/**************** Toggle Switch ****************/

.toggleSwitchOuter {
  position: relative;
  border-radius: 40px;
  border: none;
  padding: 4px;
  width: 40px;
  transition: all 300ms;
}

.toggleSwitchOuter.closeButton {
  background-color: gray;
}

.toggleSwitchOuter.openButton {
  background-color: blue;
}

.toggleSwitchOuter > div {
  position: relative;
  background-color: white;
  width: 13px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  transition: all 300ms;
}

.toggleSwitchOuter.closeButton > div {
  left: 0;
}
.toggleSwitchOuter.openButton > div {
  left: calc(100% - 13px);
}

/**************** Check Box ****************/
.checkBox {
  opacity: 0;
  position: absolute;
}

.customCheckBox {
  display: block;
  width: 18px;
  aspect-ratio: 1 / 1;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}
.customCheckBox[data-checked="true"] {
  background-color: rebeccapurple;
  color: white;
}
